<ng-container *ngIf="KnowledgeList == null">
    <article>
        <h2>{{Knowledge.title}}</h2>
        <p>{{Knowledge.description}}</p>
        <ul>
            <li *ngFor="let item of Knowledge.areaRating">
                {{item.name}} - {{item.rating}}
            </li>
        </ul>
        {{Knowledge.userId}}
    </article>
</ng-container>

<ng-container *ngIf="KnowledgeList != null">
    <article *ngFor="let knowledge of KnowledgeList">
        <h2>{{knowledge.title}}</h2>
        <p>{{knowledge.description}}</p>
        <ul>
            <li *ngFor="let item of knowledge.areaRating">
                {{item.name}} - {{item.rating}}
            </li>
        </ul>
    </article>
</ng-container>
