<ng-container *ngIf="Knowledge != null">
    <article>
        <h2>{{Knowledge.title}}</h2>
        <p>{{Knowledge.description}}</p>
        <ul>
            <li *ngFor="let item of Knowledge.areaRating">
                {{item.name}} - {{item.rating}}
            </li>
        </ul>
        <b>Programmer:</b><br>
        <ul>
            <li>Email :<a class="try-me" mat-raised-button color="accent" (click)="sendMail()">{{UserEmail}}</a></li>
            <li>Full Name : {{UserFullName}}</li>
        </ul>
    </article>
</ng-container>

<ng-container *ngIf="KnowledgeList != null">
    <article *ngFor="let knowledge of KnowledgeList">
        <h2>{{knowledge.title}}</h2>
        <p>{{knowledge.description}}</p>
        <ul>
            <li *ngFor="let item of knowledge.areaRating">
                {{item.name}} - {{item.rating}}
            </li>
        </ul>
    </article>
</ng-container>
