main{ 
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid ;
    padding:20px;
}
.login{
    display: flex;
    position:absolute;
    right: 0%;
}