<div class="container">

    <h2 class="d-flex justify-content-center">Knowledge accounting system</h2>
    <h4 class="d-flex justify-content-center">Sort Find Contact</h4>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="/knowledge"
                class="m-1 btn btn-light btn-outline-primary" Button>Knowledge</button>
            </li>
            <li class="nav-item">
                <button routerLink="/area"
                class="m-1 btn btn-light btn-outline-primary" Button>Area</button>
            </li>
            <div class="login">
                <li class="nav-item">
                    <button routerLink="/register" *ngIf="!ifLoggedIn" 
                    class="m-1 btn btn-light btn-outline-primary" Button>Sign Up</button>
                </li>
                <li class="nav-item">
                    <button routerLink="/login" *ngIf="!ifLoggedIn" 
                    class="m-1 btn btn-light btn-outline-primary" Button>Sign In</button>
                </li>
                <li class="nav-item d-flex p-2 align-items-center" *ngIf="ifLoggedIn">
                    <h5>Hello, {{currentUserName}}</h5>

                    <button routerLink="/profile" 
                    class="m-1 btn btn-light btn-outline-primary" Button>Profile</button>

                    <button (click)="signOut()"
                    class="m-1 btn btn-light btn-outline-primary ml-10" Button>Sign Out</button>
                </li>

            </div>
        </ul>
    </nav>
</div>

<main>
    <router-outlet></router-outlet>
</main>
